<div class="sdpi-item">
    <div class="sdpi-item-label">Command</div>
    <select class="sdpi-item-value select" id="command-id-select">
        <optgroup id="sdpi-system-commands-optgroup" label="System Commands"></optgroup>
        <optgroup id="sdpi-custom-commands-optgroup" label="Custom Commands"></optgroup>
    </select>
</div>

<div class="sdpi-item">
    <div class="sdpi-item-label">Arguments</div>
    <input class="sdpi-item-value" id="command-args" value="" placeholder="Enter command arguments here">
</div>