<div class="sdpi-item">
    <div class="sdpi-item-label">Variable Name</div>
    <input class="sdpi-item-value" type="text" id="name" />
</div>

<div type="textarea" class="sdpi-item">
    <div class="sdpi-item-label">Value</div>
    <span class="sdpi-item-value textarea">
        <textarea type="textarea" id="value" rows="2"></textarea>
    </span>
</div>

<div class="sdpi-item">
    <div class="sdpi-item-label">Property Path</div>
    <input class="sdpi-item-value" type="text" id="path" />
</div>