<div class="sdpi-item">
    <div class="sdpi-item-label">Timer</div>
    <select class="sdpi-item-value select" id="timer-id-select"></select>
</div>

<div class="sdpi-item">
    <div class="sdpi-item-label">Action</div>
    <select class="sdpi-item-value select" id="timer-action-select">
        <option value="pause">Pause</option>
        <option value="unpause">Unpause</option>
        <option value="toggle">Toggle</option>
        <option value="clear">Reset Interval</option>
    </select>
</div>